*{
    box-sizing: border-box;
}

body {
    background: #181818;
    color: #fff;
    line-height: 1.6;
    font-family: 'Quicksand', sans-serif;
    padding: 0 1.5em;
}

.main {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em;
}

.logo {
    text-align: center;
    font-size: 1em;
}

.logo span {
    color: #B70E21;
}

.contenido, .total {
    padding: 1em;
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, .3);
}

.totales {
    padding: 1em;
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, .3);
    border: 0;
    text-transform: uppercase;  
    text-align: center;
}

form .data label{
    display: block;
}

form {
    grid-template-columns: 1fr 1fr;
    display: grid;
}

form p {
    margin: 0;
    padding: 1em;
}

form .block {
    grid-column: 1 / 3;
}

form .data input, button {
    width: 100%;
    padding: .7em;
    border: none;
    background: none;
    outline: 0;
    color: #fff;
    border-bottom: 1px solid #d63031;
}

form button {
    background: #B70E21;
    border: 0;
    text-transform: uppercase;
    padding: 1em;
}

form button:hover, 
form button:focus {
    background: #d63031;
    color: #fff;
    transition: background-color 1s ease-out;
    outline: 0;
}